In [ ]:
import pandas as pd
import json
import re
import numpy as np

In [ ]:
#!wget https://raw.githubusercontent.com/AskNowQA/LC-QuAD/data/train-data.json
!wget https://raw.githubusercontent.com/AskNowQA/LC-QuAD/data/test-data.json

--2022-04-20 16:40:11--  https://raw.githubusercontent.com/AskNowQA/LC-QuAD/data/test-data.json
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 522721 (510K) [text/plain]
Saving to: ‘test-data.json’

test-data.json      100%[===================>] 510.47K  --.-KB/s    in 0.02s

2022-04-20 16:40:11 (31.7 MB/s) - ‘test-data.json’ saved [522721/522721]

In [ ]:
f = open('/content/test-data.json',)
data = json.load(f)

for x in data:
  #print(x['intermediary_question'])
  with open('testquestions.txt', 'a', encoding='utf-8') as f:
    f.writelines(x['intermediary_question'] + '\n')

In [ ]:
def brackets(poke_list):

  new_poke_list = []
  to_concatenate = []
  flag = 0

  for item in poke_list:
    if item.startswith('<') and not item.endswith('>'):
        to_concatenate.append(item)
        flag = 1
    elif item.endswith('>') and not item.startswith('<'):
        to_concatenate.append(item)
        concatenated = ' '.join(to_concatenate)
        new_poke_list.append(concatenated)
        
        to_concatenate = []
        flag = 0
    elif item.startswith('<') and item.endswith('>'):
        new_poke_list.append(item)
    else:
        if flag == 0:
            new_poke_list.append(item)
        else:
            to_concatenate.append(item)

  #print(new_poke_list)
  return new_poke_list

In [ ]:
df3 = pd.DataFrame({"Sentence":[], "Words":[], "Tags":[]})

In [ ]:
file1 = open('trainquestions_new.txt', 'r')
count = 0
reg = r'\<[\s\S]*\>'
for line in file1:
  count += 1
  num = count
  #print(num)
  #df3 = df3.append({'Sentence #': num}, ignore_index=True)
  #df = pd.DataFrame({'Sentence #':    [ num]})
  #print(line.split() )
 # print(line)
  sentence = line.split()
  print("Sentence: ",sentence)
  data = brackets(sentence)
  #tags = re.sub("([\(\[]).*?(<\)\>])", "Entity", data)
  #print("tags: ", tags)
  for words in data:
    senno =  f'Sentence: {num}'
    tag = re.sub(reg, 'E', words) 
    #print(tag)
    #print(words)
    #df3["Words"] = words
    df3 = df3.append({'Sentence': senno,'Tags': tag,'Words': words }, ignore_index=True)
   # df3 = df3.append({'Words': words}, ignore_index=True)
   # df3.reindex(list(range(0, 0))).reset_index(drop=True)

  #df3.loc[df3.shape[0]] = [None, None, None]
  #res = re.findall(r'\<.*?\>', line)
 
# printing result
  #print(res)
# Closing files
#file1.close()

In [ ]:
df3.head(55)

       Sentence                                 Words        Tags
0   Sentence: 1                                   How         How
1   Sentence: 1                                  many        many
2   Sentence: 1                              <movies>           E
3   Sentence: 1                                   are         are
4   Sentence: 1                                 there       there
5   Sentence: 1                                 whose       whose
6   Sentence: 1                            <director>           E
7   Sentence: 1                                    is          is
8   Sentence: 1                     <Stanley Kubrick>           E
9   Sentence: 1                                     ?           ?
10  Sentence: 2                                  What        What
11  Sentence: 2                              <city's>           E
12  Sentence: 2                          <founded by>           E
13  Sentence: 2                                    is          is
14  Sentence: 2  <John Forbes (British Army officer)>           E
15  Sentence: 3                                  What        What
16  Sentence: 3                                    is          is
17  Sentence: 3                                   the         the
18  Sentence: 3                               <river>           E
19  Sentence: 3                                 whose       whose
20  Sentence: 3                         <river mouth>           E
21  Sentence: 3                                    is          is
22  Sentence: 3                            <Dead Sea>           E
23  Sentence: 3                                     ?           ?
24  Sentence: 4                                  What        What
25  Sentence: 4                                    is          is
26  Sentence: 4                                   the         the
27  Sentence: 4                          <allegiance>           E
28  Sentence: 4                                    of          of
29  Sentence: 4                                  John        John
30  Sentence: 4                            Kotelawala  Kotelawala
31  Sentence: 4                                     ?           ?
32  Sentence: 5                                  What        What
33  Sentence: 5                                    is          is
34  Sentence: 5                                   the         the
35  Sentence: 5                                 total       total
36  Sentence: 5                                number      number
37  Sentence: 5                                    of          of
38  Sentence: 5                                <race>           E
39  Sentence: 5                                    of          of
40  Sentence: 5                                   the         the
41  Sentence: 5                         <race horses>           E
42  Sentence: 5                                 whose       whose
43  Sentence: 5                             <breeder>           E
44  Sentence: 5                                    is          is
45  Sentence: 5                 <Jacques Van't Hart>>           E
46  Sentence: 5                                     ?           ?
47  Sentence: 6                                  What        What
48  Sentence: 6                                    is          is
49  Sentence: 6                                   the         the
50  Sentence: 6                           <incumbent>           E
51  Sentence: 6                                    of          of
52  Sentence: 6                                   the         the
53  Sentence: 6  <Al Gore presidential campaign 2000>           E
54  Sentence: 6                                   and         and

In [ ]:
mask = df3.Tags != 'E'
column_name = 'Tags'
df3.loc[mask, column_name] = 'NE'

In [ ]:
df3.head(5)

      Sentence     Words Tags
0  Sentence: 1       How   NE
1  Sentence: 1      many   NE
2  Sentence: 1  <movies>    E
3  Sentence: 1       are   NE
4  Sentence: 1     there   NE

In [ ]:
df3['Words'] = pd.DataFrame([str(line).strip('<').strip('>') for line in df3['Words']])

In [ ]:
df3.head(15)

       Sentence                               Words Tags
0   Sentence: 1                                 How   NE
1   Sentence: 1                                many   NE
2   Sentence: 1                              movies    E
3   Sentence: 1                                 are   NE
4   Sentence: 1                               there   NE
5   Sentence: 1                               whose   NE
6   Sentence: 1                            director    E
7   Sentence: 1                                  is   NE
8   Sentence: 1                     Stanley Kubrick    E
9   Sentence: 1                                   ?   NE
10  Sentence: 2                                What   NE
11  Sentence: 2                              city's    E
12  Sentence: 2                          founded by    E
13  Sentence: 2                                  is   NE
14  Sentence: 2  John Forbes (British Army officer)    E

In [ ]:
#df3.head(30)

In [ ]:
df3['Values'] = df3['Words'].values

In [ ]:
df3 = df3.assign(Words=df3['Words'].str.split(' ')).explode('Words')

In [ ]:
df3.head(70)

In [ ]:
df3.loc[df3.assign(d=df3.Sentence).duplicated(['Sentence']), 'Sentence'] = np.nan
df3['Sentence'] = df3['Sentence'].fillna(0)
#df3['Sentence'] = df3['Sentence'].fillna(0).astype(int)
df3['Sentence'] = df3['Sentence'].replace(0, "")

In [ ]:
df3.head(10)

In [ ]:
df3.to_csv("sentenceNo.csv", sep='\t')

In [ ]:
df1 = (df3.set_index(['Values','Tags'], append=True)
         .Words.str.split(expand=True)
         .stack()
         .reset_index(name='Words'))

#df3['Sentence'] = 'Sentence: ' + df3['Sentence'].astype(str)
#w = df1['Words'].str.replace(r'[^\w\s]+', '')
w = df1['Words']
splitted = df1.pop('Values').str.split()
e = df1.pop('Tags')

m1 = splitted.str[0].eq(w)
m2 = [b in a for a, b in zip(splitted, w)]

df1['Entity'] = np.select([m1, m2 & ~m1], ['B-' + e, 'I-' + e],  default='O')

In [ ]:
df1.head(30)

In [ ]:
df1['Entity'] = df1['Entity'].replace(['B-NE'],'O')

In [ ]:
df1 = df1.drop(['level_0', 'level_3'], axis=1)

In [ ]:
df1.to_csv("dataNew.csv", sep='\t')

In [ ]:
df3.loc[df3.assign(d=df3.Sentence).duplicated(['Sentence']), 'Sentence'] = np.nan
df3['Sentence'] = df3['Sentence'].fillna(0)
#df3['Sentence'] = df3['Sentence'].fillna(0).astype(int)
df3['Sentence'] = df3['Sentence'].replace(0, "")

In [ ]:
df3.head(60)

In [ ]:
df1.head(30)

In [ ]:
poke_list = ['Bulbasaur', 'Charizard', '(Mega', 'Charizard', 'X)', '78', 'Pikachu', '(Raichu)', '130']
fixed = []
acc = fixed
for x in poke_list:
    if x[0] == '(':
        acc = [fixed.pop()]
    acc.append(x)
    if x[-1] == ')':
        fixed.append(' '.join(acc))
        acc = fixed
if not acc is fixed:
    fixed.append(' '.join(acc))
print(fixed)

['Bulbasaur', 'Charizard (Mega Charizard X)', '78', 'Pikachu (Raichu)', '130']

In [ ]:
from typing import Text
txt = ['Bulbasaur', 'Charizard', 'Entity', '78', 'Pikachu', 'Entity', '130']

for i in range(len(txt)):
  if txt[i] != 'Entity':
    txt[i] = 'NE'
print(txt)

['NE', 'NE', 'Entity', 'NE', 'NE', 'Entity', 'NE']